import React from 'react'
import { useAppDispatch, useAppSelector } from '../state'

interface Props {}

const {{name}}Status: React.FC<Props> = (props) => {
  return <div></div>
}

export default {{name}}Status
